body {
    margin: 40px;
    background-color: rgb(15, 99, 122); ;
    font-family: "Roboto", serif;
}
.my-table th {
    text-align: left;
}
.my-table td {
    text-align: right;
}
.my-table {
    justify-content: space-between;
}
label, h1 {
    color: beige;
}
#bolsa {
    color: #008CB1;
    font-weight: 900;
}
.borderDiv {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}
#tabelas {
    display: flex;
    justify-content: center;
}
button {
    background-color: #f8c100;
    border-radius: 8px;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
}
input{
    border-radius: 5px;
    border: none;
    padding: 7px 2px;
    background-color: fffff;
    width: 100%;
}
#btnEntrar {
    background-color: #f8c100;
    border-radius: 5px;
    border: none;
    padding: 7px 2px;
    font-weight: 600;
    width: 100%;
}
.cadastroheader {
    text-align: center;
}
form {
    padding: 30px 30px;
    width: 300px;
    margin: auto;
}
.cadastro {
    text-align: left;
}
#checkbox {
    width: 20px;
}